## Task: Feature Engineering
Extract additional features from the existingcolumns, such as the length of the restaurantname or address.
Create new features like "Has Table Booking"or "Has Online Delivery" by encodingcategorical variables.

In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('Dataset .csv')

In [5]:
# Feature: Restaurant Name Length
df['Restaurant_Name_Length'] = df['Restaurant Name'].apply(len)
df.Restaurant_Name_Length

0       16
1       16
2       22
3        4
4       11
        ..
9546    11
9547    12
9548     5
9549    11
9550    24
Name: Restaurant_Name_Length, Length: 9551, dtype: int64

In [6]:
# Feature: Address Length
df['Address_Length'] = df['Address'].apply(len)
df.Address_Length

0        71
1        67
2        56
3        70
4        64
       ...
9546    103
9547     77
9548     73
9549     75
9550     65
Name: Address_Length, Length: 9551, dtype: int64

In [11]:
df['Cuisine_Count'] = df.iloc[:, 19:].sum(axis=1)
df.Cuisine_Count

0       3
1       1
2       4
3       2
4       2
       ..
9546    1
9547    3
9548    2
9549    1
9550    1
Name: Cuisine_Count, Length: 9551, dtype: int64

In [7]:
# Encoding Categorical Variables
df['Has_Table_Booking'] = df['Has Table booking'].map({'Yes': 1, 'No': 0})
df['Has_Online_Delivery'] = df['Has Online delivery'].map({'Yes': 1, 'No': 0})

In [8]:
# One-Hot Encoding for Cuisines (assuming Cuisines is a categorical variable with multiple categories)
df_cuisines = df['Cuisines'].str.get_dummies(sep=',')
df = pd.concat([df, df_cuisines], axis=1)

In [9]:
# Drop Unnecessary Columns
columns_to_drop = ['Restaurant Name', 'Address', 'Has Table booking', 'Has Online delivery', 'Cuisines']
df = df.drop(columns=columns_to_drop)

In [10]:
# Display the modified dataset
print(df.head())

   Restaurant ID  Country Code              City  \
0        6317637           162       Makati City
1        6304287           162       Makati City
2        6300002           162  Mandaluyong City
3        6318506           162  Mandaluyong City
4        6314302           162  Mandaluyong City

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

   Average Cost for two          Currency Is delivering now  ... Tapas  Tea  \
0                  1100  Botswana Pula(P)                No  ...     0    0
1                  1200  Botswana Pula(P)                No  ...     0    0
2                  4000  Botswana Pula(P)                No  ...     0    0
3                  1500  Botswana Pula(P)                No  ...     0    0
4                  1500  Botswana Pula(P)                No  ...     0    0

   Tex-Mex Thai Tibetan  Turkish  Turkish Pizza  Vietnamese  Western  \
0        0    0       0        0              0           0        0
1        0    0       0        0              0           0        0
2        0    0       0        0              0           0        0
3        0    0       0        0              0           0        0
4        0    0       0        0              0           0        0

   World Cuisine
0              0
1              0
2              0
3              0
4              0

[5 rows x 269 columns]